.list {
  padding: 0;
  list-style-type: none;
}

.list > li {
  margin: 0 0 1rem 0;
  padding: 0;
  list-style-type: none;
}

.item > a {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 300ms;

  &:hover {
    color: #ff6600;
    text-decoration: underline;
  }
}

.item > p {
  margin: 0.5rem 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #555;
}

.button {
  border: none;
  background-color: transparent;
}
